{%- liquid
	assign style = section.settings.style
	assign header_shadow = section.settings.header_shadow
-%}
<theme-header id="header" class="header header-sticky--active {{ style }} {{ header_shadow }}">
	<div class="row expanded">
		<div class="small-12 columns">
			{%- case section.settings.style -%}
			{%- when 'style1' -%}
				{% render 'header-style1', blocks: section.blocks, header_settings: section.settings %}
			{%- when 'style2' -%}
				{% render 'header-style2', blocks: section.blocks, header_settings: section.settings %}
			{%- when 'style3' -%}
				{% render 'header-style3', blocks: section.blocks, header_settings: section.settings %}
			{%- endcase -%}
		</div>
	</div>
	{% style %}
		{%- liquid
			assign logo_height_range = section.settings.logo_height_range
			assign logo_height_range_mobile = section.settings.logo_height_range_mobile
		-%}
		:root {
			--logo-height: {{ logo_height_range | append: 'px' }};
			--logo-height-mobile: {{ logo_height_range_mobile | append: 'px' }};
		}
	{% endstyle %}
</theme-header>
<div class="thb-quick-search no-js-hidden" tabindex="-1">
	<div class="thb-quick-search--form">
		<form role="search" method="get" class="searchform" action="{{ routes.search_url }}">
			<fieldset>
				<input type="search" class="search-field" placeholder="{{ 'sections.header.search_for' | t | escape }}" value="{{ search.terms | replace: '*', '' }}" name="q" autocomplete="off">
				<div class="thb-search-close">{%- render 'svg-icons' with 'search-close' -%}</div>
			</fieldset>
		</form>
	</div>
	{%- if section.settings.predictive_search_enabled -%}
	<div class="thb-quick-search--results-container">
		<div class="thb-quick-search--results"></div>
		<span class="loading-overlay">
			{%- render 'svg-icons' with 'thb-loading' -%}
		</span>
	</div>
	{%- endif -%}
	{%- if section.settings.search_menu != blank -%}
	<div class="thb-quick-search--popular">
		<span class="thb-quick-search--label">{{ 'sections.header.popular_searches' | t }}</span>
		<scroll-shadow>
			<div>
				{%- for link in section.settings.search_menu.links -%}
				<a href="{{ link.url }}" title="{{ link.title | escape }}" class="button small outline pill">{{ link.title }}</a>
				{%- endfor -%}
			</div>
		</scroll-shadow>
	</div>
	{%- endif -%}
</div>
{{- 'header.js' | asset_url | script_tag -}}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>
{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
	"name": "Header",
	"class": "header-section",
	"settings": [
		{
			"type": "image_picker",
			"id": "logo",
			"label": "Logo image",
			"info": "400 x 68 px .png recommended."
		},
		{
			"type": "range",
			"id": "logo_height_range",
			"min": 20,
			"max": 120,
			"step": 1,
			"unit": "px",
			"label": "Logo height",
			"default": 30
		},
		{
			"type": "range",
			"id": "logo_height_range_mobile",
			"min": 20,
			"max": 80,
			"step": 1,
			"unit": "px",
			"label": "Mobile logo height",
			"default": 30
		},
		{
			"type": "select",
			"id": "style",
			"label": "Desktop logo position",
			"default": "style1",
			"options": [
				{ "value": "style1", "label": "Logo left, menu center" },
				{ "value": "style2", "label": "Logo left, menu left" },
				{ "value": "style3", "label": "Logo center, menu left" }
			],
			"info": "Position is always center for mobile."
		},
		{
			"type": "select",
			"id": "header_shadow",
			"label": "Sticky header shadow",
			"default": "header--shadow-none",
			"options": [
				{ "value": "header--shadow-none", "label": "None" },
				{ "value": "header--shadow-small", "label": "Small" },
				{ "value": "header--shadow-medium", "label": "Medium" },
				{ "value": "header--shadow-large", "label": "Large" }
			]
		},
		{
			"type": "link_list",
			"id": "menu",
			"default": "main-menu",
			"label": "Menu",
			"info": "Learn how to set up [mega menus](https://documentation.fuelthemes.net/kb/how-do-i-set-up-mega-menus-for-my-navigation/)."
		},
		{
			"type": "header",
			"content": "Mobile menu"
		},
		{
			"type": "link_list",
			"id": "mobile_secondary_menu",
			"label": "Secondary menu",
			"info": "Secondary menu is shown under the main menu."
		},
		{
			"type": "checkbox",
			"id": "show_language_switcher",
			"label": "Enable language switcher",
			"default": true,
			"info": "To add a language, go to your [language settings](/admin/settings/languages)."
		},
		{
			"type": "checkbox",
			"id": "show_currency_switcher",
			"label": "Enable currency switcher",
			"default": true,
			"info": "To add a country/region, go to your [payment settings](/admin/settings/payments)."
		},
		{
			"type": "header",
			"content": "Search"
		},
		{
      "type": "checkbox",
      "id": "predictive_search_enabled",
      "default": true,
      "label": "Predictive search"
    },
		{
			"type": "link_list",
			"id": "search_menu",
			"label": "Popular searches",
			"info": "Select menu to show popular search links"
		}
	],
	"blocks": [
		{
			"type": "megamenu",
			"name": "Mega menu",
			"limit": 10,
			"settings": [
				{
					"type": "select",
					"id": "position",
					"label": "Link position in main menu",
					"default": "1",
					"options": [
		        {
		          "value": "1",
		          "label": "Item 1"
		        },
						{
		          "value": "2",
		          "label": "Item 2"
		        },
						{
		          "value": "3",
		          "label": "Item 3"
		        },
						{
		          "value": "4",
		          "label": "Item 4"
		        },
						{
		          "value": "5",
		          "label": "Item 5"
		        },
						{
		          "value": "6",
		          "label": "Item 6"
		        },
						{
		          "value": "7",
		          "label": "Item 7"
		        },
						{
		          "value": "8",
		          "label": "Item 8"
		        },
						{
		          "value": "9",
		          "label": "Item 9"
		        },
						{
		          "value": "10",
		          "label": "Item 10"
		        }
		      ]
				},
				{
					"type": "header",
					"content": "Promotion 1"
				},
				{
	        "type": "image_picker",
	        "id": "promo_1_image",
	        "label": "Image",
					"info": "360 x 420 px .jpg recommended."
	      },
				{
					"type": "text",
					"id": "promo_1_heading",
					"default": "Promotion heading",
					"label": "Heading"
				},
				{
					"type": "textarea",
					"id": "promo_1_content",
					"label": "Promotion content"
				},
				{
					"type": "url",
					"id": "promo_1_link",
					"label": "Promotion link"
				},
				{
					"type": "header",
					"content": "Promotion 2"
				},
				{
	        "type": "image_picker",
	        "id": "promo_2_image",
	        "label": "Image",
					"info": "360 x 420 px .jpg recommended."
	      },
				{
					"type": "text",
					"id": "promo_2_heading",
					"default": "Promotion heading",
					"label": "Heading"
				},
				{
					"type": "textarea",
					"id": "promo_2_content",
					"label": "Promotion content"
				},
				{
					"type": "url",
					"id": "promo_2_link",
					"label": "Promotion link"
				},
				{
					"type": "header",
					"content": "Promotion 3"
				},
				{
	        "type": "image_picker",
	        "id": "promo_3_image",
	        "label": "Image",
					"info": "360 x 420 px .jpg recommended."
	      },
				{
					"type": "text",
					"id": "promo_3_heading",
					"default": "Promotion heading",
					"label": "Heading"
				},
				{
					"type": "textarea",
					"id": "promo_3_content",
					"label": "Promotion content"
				},
				{
					"type": "url",
					"id": "promo_3_link",
					"label": "Promotion link"
				},
				{
					"type": "header",
					"content": "Promotion 4"
				},
				{
	        "type": "image_picker",
	        "id": "promo_4_image",
	        "label": "Image",
					"info": "360 x 420 px .jpg recommended."
	      },
				{
					"type": "text",
					"id": "promo_4_heading",
					"default": "Promotion heading",
					"label": "Heading"
				},
				{
					"type": "textarea",
					"id": "promo_4_content",
					"label": "Promotion content"
				},
				{
					"type": "url",
					"id": "promo_4_link",
					"label": "Promotion link"
				}
			]
		}
	]
}
{% endschema %}
