{{- 'product-grid.css' | asset_url | stylesheet_tag -}}
{{- 'facets.css' | asset_url | stylesheet_tag -}}
{%- liquid
	assign full_width = section.settings.full_width
	assign enable_filtering = section.settings.enable_filtering
	assign enable_sorting = section.settings.enable_sorting
	assign show_counts = section.settings.show_counts
	assign filter_color_swatches = section.settings.filter_color_swatches
	assign pagination_type = section.settings.pagination_type
	assign products_per_page = section.settings.products_per_page
	assign columns_desktop = section.settings.columns_desktop
-%}
{%- paginate collection.products by products_per_page -%}
	<div class="collection-container section-spacing-bottom collection-container--full-width-{{ full_width }}">
		{% render 'facets', results: collection, enable_filtering: enable_filtering, enable_sorting: enable_sorting, show_counts: show_counts, filter_color_swatches: filter_color_swatches %}
		<div id="ProductGridContainer">
			{%- if collection.products.size == 0 -%}
				<div class="row">
					<div class="small-12 columns">
						<div class="collection-empty">
							{% render 'svg-icons' with 'thb-no-products' %}
	            <p>
	              {{ 'sections.collection_template.empty' | t }}<br>
								{%- if collection.terms -%}
	              {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url }}
								{%- endif -%}
	            </p>
						</div>
					</div>
				</div>
			{%- else -%}
				<ul id="product-grid" data-id="{{ section.id }}" class="products collection row small-up-2 medium-up-{{ columns_desktop }}">
					{%- for product in collection.products -%}
						<li class="column">
							{% render 'product-card', product_card_product: product %}
						</li>
					{%- endfor -%}
				</ul>
				{% render 'pagination', paginate: paginate, pagination_type: pagination_type, id: section.id %}
			{%- endif -%}
		</div>
	</div>
{%- endpaginate -%}
{%- if enable_filtering or enable_sorting -%}
{%- if enable_filtering  -%}
{{ 'nouislider.js' | asset_url | script_tag }}
{%- endif -%}
<script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{% schema %}
  {
    "name": "Product grid",
    "settings": [
			{
        "type": "range",
        "id": "products_per_page",
        "min": 2,
        "max": 48,
        "step": 1,
        "label": "Number of products",
        "default": 12
      },
			{
        "type": "range",
        "id": "columns_desktop",
        "min": 2,
        "max": 5,
        "step": 1,
        "label": "Number of columns on desktop",
        "default": 4
      },
			{
	      "type": "select",
	      "id": "pagination_type",
	      "options": [
	        {
	          "value": "paginated",
	          "label": "Paginated"
	        },
	        {
	          "value": "loadmore",
	          "label": "Click to load"
	        },
	        {
	          "value": "infinite",
	          "label": "Infinite"
	        }
	      ],
	      "default": "paginated",
	      "label": "Pagination",
	      "info": "Choose how additional pages of products are navigated."
	    },
			{
				"type": "checkbox",
				"id": "full_width",
				"default": false,
				"label": "Make section full width"
			},
	    {
	      "type": "header",
	      "content": "Filtering and sorting"
	    },
	    {
	      "type": "checkbox",
	      "id": "enable_filtering",
	      "default": true,
	      "label": "Enable filtering",
	      "info": "Customize [filters](/admin/menus)"
	    },
	    {
	      "type": "checkbox",
	      "id": "enable_sorting",
	      "default": true,
	      "label": "Enable sorting"
	    },
			{
	      "type": "checkbox",
	      "id": "show_counts",
	      "default": true,
	      "label": "Show filter values count"
	    },
			{
				"type": "checkbox",
				"id": "filter_color_swatches",
				"default": true,
				"label": "Show color swatches"
			}
    ]
  }
{% endschema %}
