{%- liquid
	assign heading = section.settings.heading
	assign mobile_swipe = section.settings.mobile_swipe
	assign disable_top_spacing = section.settings.disable_top_spacing
	assign disable_bottom_spacing = section.settings.disable_bottom_spacing
	assign product_id = product.id
	if template == 'cart' and cart != empty
		assign product_id = cart.items[0].product_id
	endif
-%}
<product-recommendations class="product-recommendations {% if mobile_swipe %} swipe-on-mobile{% endif %} section-spacing-padding{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %}" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product_id }}&limit=4">
	{%- if recommendations.performed and recommendations.products_count > 0 -%}
		<div class="row">
			<div class="small-12 columns">
				<h4 class="product-recommendations__heading">{{ heading | escape }}</h4>
			</div>
		</div>
		<ul class="products collection row small-up-1 medium-up-4">
			{%- for recommendation in recommendations.products -%}
				<li class="columns">
					{%- render 'product-card', product_card_product: recommendation -%}
				</li>
			{%- endfor -%}
		</ul>
	{%- endif -%}
</product-recommendations>
{{ 'product-grid.css' | asset_url | stylesheet_tag }}

{% schema %}
	{
		"name": "Product recommendations",
		"settings": [
			{
				"type": "paragraph",
				"content": "Customize product recommendations with Search and Discovery app. [Learn more](https://help.shopify.com/en/manual/online-store/search-and-discovery/product-recommendations)."
			},
			{
				"type": "text",
				"id": "heading",
				"default": "You may also like",
				"label": "Heading"
			},
			{
				"type": "checkbox",
				"id": "mobile_swipe",
				"default": true,
				"label": "Enable swipe on mobile"
			},
			{
				"type": "header",
				"content": "Spacing"
			},
			{
				"type": "checkbox",
				"id": "disable_top_spacing",
				"default": false,
				"label": "Remove top spacing"
			},
			{
				"type": "checkbox",
				"id": "disable_bottom_spacing",
				"default": false,
				"label": "Remove bottom spacing"
			}
		]
	}
{% endschema %}
